<div>
    <input type="text" id="origin" name="origin" />
    <input type="text" id="destination" name="destination" />
    <button type="button" id="gsrBtn" onclick="getShortestRoute()"></button>
</div>
<div id="results">
</div>